@model IEnumerable<Quan_ly_thiet_bi.Models.EF.DEVICE>
@{
    ViewBag.Title = "GetMonth6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Kế hoạch sửa chữa tháng 4</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable-plane1" width="100%" cellspacing="0" style="color:black;">
                    <thead>
                        <tr>
                            <th>
                                Ngày
                            </th>
                            @{ int day;}
                            @for (day = 1; day <= 30; day++)
                            {
                                <th>@day</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                @for (day = 1; day <= 30; day++)
                                {
                                    if (item.DateMaintenance.Value.Day == day)
                                    {
                                            <td style="background-color:yellow;">
                                                @item.DeviceName
                                            </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

