@model IEnumerable<Quan_ly_thiet_bi.Models.EF.DEVICE>
@{
    ViewBag.Title = "GetMonth2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Kế hoạch sửa chữa tháng 2</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable-plane1" width="100%" cellspacing="0" style="color:black;">
                    <thead>
                        <tr>
                            <th>
                                Ngày
                            </th>
                            @{
                                int year = DateTime.Now.Year;
                                int days = 0;
                                if (year % 400 == 0 || (year % 4 == 0 && year % 100 != 0))    // nam nhuan
                                { days = 29; }
                                else
                                { days = 28; }
                                int day;
                            }
                            @for (day = 1; day <= days; day++)
                            {
                                <th>@day</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                @for (day = 1; day <= days; day++)
                                {
                                    if (item.DateMaintenance.Value.Day == day)
                                    {
                                        if (item.Updater != null)
                                        {
                                            <td style="background-color:#1cc88a;">
                                                <a href="/Home/Detail_device/@item.Id">  @item.DeviceName</a><br />
                                                (@item.Updater)
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="background-color:yellow;">
                                                <a href="/PlaneRepair/Detail_plan_repair/@item.Id">  @item.DeviceName</a>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

