@model IEnumerable<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Danh sách thiết bị</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="float:right;">
                    @{
                        var session = (Quan_ly_thiet_bi.Common.UserLogin)Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION];
                    }
                    <button type="button" onclick="Them()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus"> Thêm mới</i>
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" @*width="100%"*@ cellspacing="0">
                        <thead>
                            <tr>
                                <th style="color:black;">STT</th>
                                <th style="display:none;"></th>
                                <th style="color:black;">Tên nhóm thiết bị</th>
                                <th style="color:black;">Mô tả</th>
                                @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                {
                                    var id_rule = session.ID_RULE;
                                    if (id_rule == "R001")
                                    {
                                <th style="color:black;">Thao tác</th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0; }
                            @foreach (var items in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td style="display:none;">@items.ID_GROUP</td>
                                    <td><a href="/Admin_/Chi_tiet_thiet_bi/@items.ID_GROUP">@items.NAME</a></td>
                                    <td></td>
                                        @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                            {
                                                var id_rule = session.ID_RULE;
                                                if (id_rule == "R001")
                                                {
                                    <td>
                                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" onclick="Xoa(this)" title="Xóa"><i class="fa fa-trash"></i></button>
                                    </td>
                                                }
                                            }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-12" style="display:none;">
                        <label></label>
                        <input type="text" class="form-control" id="ID_GROUP" name="ID_GROUP" />
                    </div>
                    <div class="col-12" style="margin:5px 0px;">
                        <label>Tên nhóm thiết bị:</label>
                        <input type="text" class="form-control" placeholder="Tên thiết bị" required id="NAME" name="NAME" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_Add" value="Thêm">Lưu</button>
                </div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js" integrity="sha512-h3RrO+eudpiPUYFkwORXD2ppuy9jOXQ+MzVEIo7k+OuA7y9Ze5jsQ5WN/ZSgI+ZSIngT6pDSaqpgmnam2HPe1g==" crossorigin="anonymous"></script>
<script>
    $("body").on("click", "#btn_Add", function () {
        if ($("#NAME").val() == "" ) {
            alert("Hãy nhập giá trị!");
        }
        else {
            var NAME = $("#NAME");
            $.ajax({
                type: "POST",
                url: "/Group_device/Insert_groupdevice",
                data: '{NAME:"' + NAME.val() + '"}',
                contentType: "application/json charset=utf-8",
                datatype: "json",
                success: function () {
                    var newrow = $("#dataTable tr:last-child");
                    window.location.reload();
                    NAME.val() = "";
                }
            });
        }
    });
</script>

